*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/voiplib/src/androidTest/java/com/zhong/voiplib/
/voiplib/src/test/java/com/zhong/voiplib/
/voiplib/src/androidTest/java/com/zhong/voiplib/ExampleInstrumentedTest.java
/voiplib/src/test/java/com/zhong/voiplib/ExampleUnitTest.java
